.catalog {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    width: 100vw;
    height: 450px;
    margin: 0px;
  }
  
  .catalog-item {
    border: 1px solid #ccc; /* Borda do item inteiro */
    border-radius: 12px; /* Borda do item inteiro (menor=quadrado, maior =redondo) */
    padding: 12px; /* Distancia da imagem pra borda do item */
    margin: 20px;
    background-color: #fff; /* cor do fundo do item*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinhamento do texto à esquerda */
    width: 230px; /* Ajuste conforme necessário */
    transition: transform 0.3s;
    transition: background-color 0.8s;
  }
  
  .catalog-item:hover {
    background-color: rgb(234, 238, 221);
    transform: scale(1.05);
  }
  
  .catalog-item img {
    max-width: 70%; /* Enquadramento da imagem no item */
    height: auto;
    border-radius: 4px; /* Borda da imagem (menor=mais quadrado, maior= mais redondo) */
    margin-bottom: 12px;
  }
  
  .catalog-item h2 {
    color: #333; /* Cor do nome do produto */
  }
  
  .catalog-item p.price {
    color: #ff4600; /* Cor do valor */
    font-weight: bold;
    font-size: 1.2em; 
  }
  
  .catalog-item p.description {
    color: #222; /* Cor da descriçao */
    position: center;
    padding: 5px;
    border-radius: 8px;
  }